*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 90%;
    margin: 50px auto;
}

nav{
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: flex-start;
    gap:30px;
}
.item{
    display: flex;
    justify-content: space-between;
    gap:50px;
    margin-bottom: 30px;
}

.program__name{
    width: 40%;
}

.button{
    cursor: pointer;
    padding: 10px;
    background: #4fb2f6;
    border-radius: 5px;
    border: none;
    height: 50px;
    text-align: center;

}

.susubject__list>div{
    /*text-align: center ;*/
    width: 20%;
}


.item__button{
    width: 100%;
}

.program__add{
    text-decoration: underline;
    cursor: pointer;
}

.modalwin{
    width: 90vw;
    padding: 30px 10%;
    position: absolute;
    top: 250px;
    left: 5%;
    background: white;
    border-radius: 10px;
    border: 1px solid black;
    display: none;
}

.show{
    display: block;
}

.form-group{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 30px;
    gap:50px;
}

.form-group>label{
    width: 30%;
}

.close{
    position: absolute;
    right: 30px;
    color: grey;
    cursor: pointer;
}

.modalwin--message{
    font-size: 20px;
    color:green;
}

table{
    border-collapse: separate;
}

tr{
    border-spacing: 30px;
}