*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 90%;
    margin: 50px auto;
}
.item{
    display: flex;
    justify-content: space-between;
    gap:50px;
    margin-bottom: 30px;
}

.program__name{
    width: 40%;
}

.button{
    cursor: pointer;
    padding: 10px;
    background: #4fb2f6;
    border-radius: 5px;
}

.susubject__list div{
    width: 20%;
}


